.button{
    color: white;
    background-color: #3f51b5;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    margin-left: 10px;
    height: 35px;
    width: 30px;
    cursor: pointer;
    
}
